*{margin: 0px;padding: 0px;}


.outer_div {
  width: ;
  box-sizing: border-box;
  display: ;
  justify-content: center;
  align-items: center;
  margin-top:;
}
.inner-div {
  width: 80%;
  box-sizing: border-box;
  
  margin-bottom: 2%;
}
.nav_bar_div {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.nav_items {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  margin-right: 5%;
  align-items: flex-end;
}

.nav_item {
  color: orange;
  margin-left: 2%;
}
input {
  border: none;
}
.input_icon {
  

  display: flex;
  height: auto;
  align-items: center;
}
svg {
  margin-right: 2%;
}
.new_Arrival_div {
  position: absolute;
  top: 50%;
  right: 10%;
}
.heading_new_arrival {
  color: rgb(4, 161, 213);
  font-weight: bolder;
  /*  margin-right: 30%; */
}
.shop_now {
  
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-top: 2%;
  margin-right: 30%;
  height: 60px;
  align-items: center;
  color: rgb(4, 161, 213);
  font-weight: bolder;
}
.para_div {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.para_div2 {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.explore_button {
  width: 10%;
  display: flex;
  justify-content: center;
}
.button {
  width: 10%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(4, 161, 213);
  font-weight: bolder;
  
  margin-top: 2%;
}
/* .para_div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */
.Pname_div {
  /*   width: 100%;
  height: 500px;
  margin-right: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end; */
  position: absolute;
  top: 20%;
  text-align: right;
  padding-right: 10%;
  right: 0;
}
.Heading_product_name {
  color: rgb(4, 161, 213);
  font-weight: bolder;
}
.buy_now {
 
  width: 20%;
  /*   display: flex; */
  justify-content: center;
  margin-left: 10%;
  margin-top: 2%;
  height: 60px;
  align-items: center;
  color: rgb(4, 161, 213);
  font-weight: bolder;
  padding: 5px;
}
.Content1 {
  color: rgb(4, 161, 213);
  font-weight: bolder;
  width: 100%;

  display: flex;
  justify-content: flex-end;
}
.content_section {
  width: 50%;
}
.categories {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
.categories_section {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.section_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: orange;
}
.Addtocart {
  
  width: 60%;
  justify-content: center;
  height: 40px;
  justify-content: center;
  color: rgb(4, 161, 213);
  font-weight: bolder;
  padding: 5px;
}
.Review {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Box {
  width: 90%;
  height: 200px;
  
}
.Box_review {
  width: 600px;
  height: 200px;
  border: 3px solid rgb(4, 161, 213);
  margin-right: 2%;

}
.Box_image {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Review_div::-webkit-scrollbar {
  display: none;
}
.Box_content {
  width: 200%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: orange;
}
.Box2 {
  width: 90%;
  height: fit-content;

}
.Payment_content1 {
  margin-top: 1%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: orange;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.setWidth {
  width: 100%;
  display: flex;
  justify-content: center;
}
.empty_cart {
  display: flex;
  width: 290px;
  height: 192px;
  justify-content: center;
  align-items: center;
}
.empty_cart_div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Review_div {
  display: flex;
  overflow-x: scroll;
  margin-left: 5%;
}
.product_div_scroll {
  display: flex;
  overflow-x: scroll;
}
.product_div_scroll::-webkit-scrollbar {
  display: none;
}
.button {
  margin-top: 3%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Collection_box {
  width: 100%;
  height: fit-content;
  justify-content: center;
}
.collection_content {
  justify-content: center;
  color: rgb(4, 161, 213);
  font-weight: bolder;
}
.button_recreate {
  margin-top: 3%;
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.button_rapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
